.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: #E6E3E3;
    padding: 2%;
    text-align: center;
    z-index: 1000;
    opacity: 0.8;
    transition: opacity 0.3s;
}

/* Styling for navigation bar on hover */
.navbar:hover {
    opacity: 1;
}

/* Styling for navigation bar buttons */
.navbar-buttons {
    display: inline-block;
}

.navbar-buttons a {
    color: #141010;
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    padding: 10px;
    margin: 30px;
    transition: background-color 0.3s;
}

.navbar-buttons a:hover {
    background-color: #DDD6D6;
}

p,
a:active,
label,
.form-group {
    font-family: 'Poppins', sans-serif;
    color: rgb(0, 0, 0);
    font-size: 1vw;
}


.container {
    width: 100%;
}

.position-relative {
    display: flex;
    align-items: center;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #D1D0D0;
    font-size: 400%;
    font-weight:200;
    margin-top: 10%;
}

body {
    background-color:#5C4E4E;
    width: 100%;
    font-family: 'Poppins', sans-serif; /* Use Poppins font */
}

.center-text {
    text-align: center;
}
