/* homepage.css */

body {
    font-family: 'Poppins', sans-serif;
    background-color: #988686;
    width: 100%;
    margin: 0;
    padding: 0;
}

.navbar {
    position: fixed;
    top: 0;
    left: 50%;
    width: 100%;
    transform: translateX(-50%);
    background-color: #E6E3E3;
    padding: 2%;
    text-align: center;
    z-index: 1000;
    opacity: 0.8;
    transition: opacity 0.3s;
}

.navbar:hover {
    opacity: 1;
}

.navbar-buttons {
    display: inline-block;
}

.navbar-buttons a {
    color: #141010;
    text-decoration: none;
    padding: 10px;
    margin: 30px;
    transition: background-color 0.3s;
}

.navbar-buttons a:hover {
    background-color: #DDD6D6;
}

.container {
    width: 100%;
    background-color: #988686;
    margin-bottom: 10%;
    text-align: center;
}

.center-text {
    text-align: center;
}

.container-2 {
    width: 100%;
    background-color: #E6E3E3;
    padding-right: 5%;
    padding-left: 5%;
}

.content-flex {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 20px;
}

.position-relative {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 20px 0;
}

.text-block-2, .image-block {
    flex: 1;
    padding: 20px;
    box-sizing: border-box;
}

.text-block-2 {
    background-color: #E6E3E3;
}

.image-block {
    text-align: center;
}

.image-block figure {
    margin: 0;
}

p {
    font-family: 'Poppins', sans-serif;
    color: #D1D0D0;
    font-weight: 100;
    font-size: 150%;
    margin: 2% 20%;
}

h1 {
    font-family: 'Poppins', sans-serif;
    color: #D1D0D0;
    font-size: 500%;
    font-weight: 300;
    margin-top: 10%;
}

h2 {
    font-family: 'Poppins', sans-serif;
    font-weight: 100;
    color: #000000;
    font-size: 200%;
    margin-right: 15%;
    margin-left: 10%;
}

h3 {
    font-family: 'Poppins', sans-serif;
    font-weight: 200;
    color: #000000;
    font-size: 100%;
    margin-right: 15%;
    margin-left: 10%;
}

.my-button {
    background-color: #5C4E4E;
    border: none;
    color: white;
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 1em;
    border-radius: 7%;
    cursor: pointer;
    margin-top: 10px;
    margin-left: 10%;
}

.my-button:hover {
    background-color: #4a3d3d;
}

.side-image {
    margin-top: 6%;
    max-width: 200px;
    height: auto;
}

.image-text {
    max-width: 90%;
    height: auto;
    display: block;
}
