<!-- flashcards html -->

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="VenusHacks">
        <meta name="description" content="Flashcards">
        <link rel="stylesheet" href="{{ url_for('static', filename='flashcards.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
        <title>Videos</title>
    </head>

    <body>
        <!-- Navigation bar -->
        <div class="navbar">
            <div class="navbar-buttons">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('flashcards') }}">Flashcards</a>
                <a href="{{ url_for('videos') }}">Videos</a>
                <a href="{{ url_for('music') }}">Music</a>
                <a href="{{ url_for('cafes') }}">Cafes</a>
            </div>
        </div>
        <div class="container">
            <div class="center-text">
                <h1>Create Flashcards</h1>
            </div>
        </div>
        <div class="container">
            <div class="center-text">
                <form method="POST" class="search-form">
                    <label for="category">Enter a Subject:</label>
                    <input type="text" id="category" name="category" required>
                    <button type="submit">Search</button>
                </form>
            </div>
        </div>
        <div class="flashcards-container">
            {% if flashcards %}
                {% for flash in flashcards %}
                    <div class="flashcard">
                        <div class="flashcard-inner">
                            <div class="flashcard-front">
                                <p>{{ flash['Question']}}</p>
                            </div>
                            <div class="flashcard-back">
                                <p>{{ flash['Answer'] }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            {% endif %}
        </div>
    </body>
    <script src="{{ url_for('static', filename='flashcards.js') }}"></script>
</html>
