<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="VenusHacks">
        <meta name="description" content="Homepage">
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
        <title>Home</title>
    </head>

    <body>
        <!-- Navigation bar -->
        <div class="navbar">
            <div class="navbar-buttons">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('flashcards') }}">Notes Center</a>
                <a href="{{ url_for('videos') }}">Videos</a>
                <a href="{{ url_for('music') }}">Music</a>
                <a href="{{ url_for('cafes') }}">Cafes</a>
            </div>
        </div>
        <div class="container">
            <div class="center-text">
                <h1>Mocha Mind</h1>
                <button class="my-button">Get Started</button>
                <p>Amplify your self-studying session with Mocha Mind: a toolkit that promotes healthy and positive study culture.</p>
            </div>
        </div>
        <div class="position-relative">
            <div class="text-block-2">
                <h2>Begin a To-Do List and Goal-Tracker</h2>
                <h3>Jot down your to-do list for the day here, as well as your long-term goals to be positively mindful and affirmative. </h3>
            </div>
        </div>
        <div class="position-relative">
            <div class="text-block-2">
                <h2>YouTube Video Suggestions</h2>
                <h3>Need a course material review? Insert your course title or information and take notes on the suggested educational videos.</h3>
            </div>
        </div>
        <div class="position-relative">
            <div class="text-block-2">
                <h2>Study and Jam</h2>
                <h3>Listen to suggested music by entering your favorite music genre and listen along during your study session!</h3>
            </div>
        </div>
        <div class="position-relative">
            <div class="text-block-2">
                <h2>Sip and Study</h2>
                <h3>Discover your city's cafes and coffee shops for a change of study space and appetite.</h3>
            </div>
    </body>
</html>
