<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="VenusHacks">
        <meta name="description" content="Homepage">
        <link rel="stylesheet" href="{{ url_for('static', filename='homepage.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
        <title>Home Page</title>
    </head>

    <body>
        <!-- Navigation bar -->
        <div class="navbar">
            <div class="navbar-buttons">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('flashcards') }}">Flashcards</a>
                <a href="{{ url_for('videos') }}">Videos</a>
                <a href="{{ url_for('music') }}">Music</a>
                <a href="{{ url_for('cafes') }}">Cafes</a>
            </div>
        </div>
        <div class="container">
            <div class="center-text">
                <h1>ZotStudy</h1>
                <button class="my-button">Get Started</button>
                <p>We provide you the services of creating a self-study atmosphere with our generated flashcards catered to your subject, relaxing music playlists, and Youtube video suggestions!</p>
            </div>
        </div>
        <div class="position-relative">
            <div class="text-block-2">
                <h2>Create Flashcards and more!</h2>
                <h3>Using information and notes about your subject you want to study for, we can generate flashcards for you!</h3>
            </div>
        </div>
        <div class="position-relative">
            <div class="text-block-2">
                <h2>YouTube video suggestions</h2>
                <h3>We will provide you YouTube video suggestions to help enhance your learning and studying session!</h3>
            </div>
        </div>
        <div class="position-relative">
            <div class="text-block-2">
                <h2>Listen to relaxing music/asmr</h2>
                <h3>We generate music to promote studying and keep your tempo up while you are grinding hard!</h3>
            </div>
        </div>
    </body>
</html>
