<!-- music html -->

<!doctype html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta name="author" content="VenusHacks">
    <meta name="description" content="Music">
    <link rel="stylesheet" href="{{ url_for('static', filename='music.css') }}">
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
    <script>src='static/musicScript.js'</script>
    <title>Music</title>
</head>
<body>
    <!-- Navigation bar -->
    <div class="navbar">
        <div class="navbar-buttons">
            <a href="{{ url_for('home') }}">Home</a>
            <a href="{{ url_for('flashcards') }}">Flashcards</a>
            <a href="{{ url_for('videos') }}">Videos</a>
            <a href="{{ url_for('music') }}">Music</a>
            <a href="{{ url_for('cafes') }}">Cafes</a>
        </div>
    </div>

    <div class="container">
        <div class="center-text">
            <h1>Search for music!</h1>
            <form method="POST" class="search-form">
                <label for="category">Music Category:</label>
                <input type="text" id="category" name="category" required>
                <button type="submit">Search</button>
            </form>
        </div>
    </div>

    <!-- Playlist display section -->
    <div class="text-block-2">
        <div class="playlist-container" id="musicForm">
            {% if responses %}
                {% for response in responses %}
                <div class="col-md-4">
                    <div class="card">
                        <div class="card-body">
                            <div class="position-relative">
                                <div class="container">
                                    <h2> {{response['title']}} </h2>
                                    <a href="{{ response['url'] }}" target="_blank" class="button">Give a listen</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% endfor %}
            {% else %}
                <h1>No results</h1>
            {% endif %}
        </div>
    </div>
</body>
</html>
