<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="VenusHacks">
        <meta name="description" content="Videos">
        <link rel="stylesheet" href="{{ url_for('static', filename='videos.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
        <title>Videos</title>
    </head>


    <body>
        <!-- Navigation bar -->
        <div class="navbar">
            <div class="navbar-buttons">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('flashcards') }}">Notes Center</a>
                <a href="{{ url_for('videos') }}">Videos</a>
                <a href="{{ url_for('music') }}">Music</a>
                <a href="{{ url_for('cafes') }}">Cafes</a>
            </div>
        </div>
        <div class="container">
            <div class="center-text">
                <h1>Suggested Videos + Study Tips</h1>
            </div>
        </div>
        <div class="container">
            <div class="center-text">
                <form action="/video-submit" method="POST" class="search-form">
                    <label for="subject">Class Subject:</label>
                    <input type="text" id="subject" name="subject" required>
                    <label for="learner"><br>Learning Type:</label>
                    <input type="text" id="learner" name="learner" required>
                    <button type="submit">Get Responses</button>
                </form>                
            </div>
        </div>
        <div class="text-block-2">
            {% for response in responses %}
            <div class="response">{{ response }}</div>
            {% endfor %}
        </div>
    </body> 
</html>