<!-- Videos html -->

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="author" content="VenusHacks">
        <meta name="description" content="Videos">
        <link rel="stylesheet" href="{{ url_for('static', filename='videos.css') }}">
        <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&display=swap">
        <title>Videos</title>
    </head>

    <body>
        <div class="navbar">
            <div class="navbar-buttons">
                <a href="{{ url_for('home') }}">Home</a>
                <a href="{{ url_for('flashcards') }}">Flashcards</a>
                <a href="{{ url_for('todo') }}">To-Do Planner</a>
                <a href="{{ url_for('videos') }}">Videos</a>
                <a href="{{ url_for('music') }}">Music</a>
                <a href="{{ url_for('cafes') }}">Cafes</a>
            </div>
        </div>
        <div class="container">
            <div class="center-text">
                <h1>Help me study!</h1>
            </div>
        </div>
        <div class="container">
            <div class="center-text">
                <form method="POST" action="/videos" class="search-form">
                    <label for="subject">Subject:</label>
                    <input type="text" id="subject" name="subject" required>
                    <label for="learner"><br>Learner Type:</label>
                    <select id="learning_menu" name="learner">
                        <option value="visual">Visual</option>
                        <option value="auditory">Auditory</option>
                        <option value="read/write">Read/Write</option>
                        <option value="kinesthetic">Kinesthetic</option>
                    </select>
                    <button type="submit">Submit</button>
                </form>                
            </div>
        </div>
    
        <div class="tabs-container">
            <div class="tab" onclick="openTab(event, 'studytips')">Study Tips</div>
            <div class="tab" onclick="openTab(event, 'youtubevideos')">YouTube Videos</div>
        </div>
    
        <div id="studytips" class="tab-content">
            {% if responses %}
                <div class="card-container">
                    {% for response in responses %}
                        {% if response.strip() %}
                            <div class="card">
                                <div class="card-body">
                                    <div class="position-relative">
                                        <p class="card-text">{{ response }}</p>
                                    </div>
                                </div>
                            </div>
                        {% endif %}
                    {% endfor %}
                </div>
            {% else %}
                <p>No results</p>
            {% endif %}
        </div>
    
        <div id="youtubevideos" class="tab-content">
            {% if youtube_videos %}
                <div class="card-container">
                    {% for video in youtube_videos %}
                        <div class="card">
                            <div class="card-body">
                                <h2>{{ video[0] }}</h2>
                                <a href="{{ video[2] }}" target="_blank">Check it out</a>
                                <br>
                                <div class="iframe-container">
                                    <iframe src="https://www.youtube.com/embed/{{ video[1] }}" frameborder="0" allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            {% else %}
                <p>No results</p>
            {% endif %}
        </div>
    </body> 
    <script src="{{ url_for('static', filename='videos.js') }}"></script>
</html>